@import "tailwindcss";

.form-input {
    width: 100%;
    border-radius: 0.75rem;
    border: 1px solid #d1d5db;
    background-color: white;
    padding: 0.625rem 0.75rem;
    outline: none;
}

.form-input:focus {
    border-color: #22c55e;
}